body{
    margin: 0;
    background-color: #eeeeee;
}


/*ESTILOS PARA EL HEADER*/
header{
    background-color: #fff;
    height: 60px;
}
/*PARTE SUPERIOR*/  /*PARTE SUPERIOR*/  /*PARTE SUPERIOR*/  /*PARTE SUPERIOR*/
/*PARTE SUPERIOR del header. Formada por: Logo + Iconos + Secciones*/
.header-principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: #fff;
    border-bottom: rgb(207, 207, 207) solid 1px;
    position: fixed;
    z-index: 100;
}
/*Barritas*/
#header-barritas div{
    background-color: #000;
    height: 2px;
    width: 20px;
    margin: 4px 0;
    transition-duration: 0.2s;
    margin-left: 25px;
}
/*Hover*/
    #header-barritas:hover div:first-child{
        transform: translateY(2px);
    }
    #header-barritas:hover div:last-child{
        transform: translateY(-2px);
    }
/*Active*/
    #header-barritas:active div:first-child{
        transform: translateY(-4px);
    }
    #header-barritas:active div:last-child{
        transform: translateY(4px);
    }

/*logo de Oversize Inc.*/
.header-logo img{
    width: 130px;
}
/*Sección de compra y búsqueda*/
.header-compra {
    margin-right: 25px;
    display: flex;
    flex-direction: row;
}
.header-compra a {
    display: flex;
    justify-content: center;
}
.header-compra a:first-child {
    margin-right: 10px;
}


/*PARTE INFERIOR*/  /*PARTE INFERIOR*/  /*PARTE INFERIOR*/  /*PARTE INFERIOR*/
/*PARTE INFERIOR que contiene el buscador*/
.header-buscador{
    background-color: #fff;
    height: 50px;
    width: 100%;
    border-bottom: rgb(207, 207, 207) solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-250px);
    transition: 0.4s ease;
}
.header-buscador form{
    display: flex;
    width: 30%;
    height: 70%;
    justify-content: right;
}
#buscador{
    border-radius: 25px;
    border: 1px solid rgb(160, 160, 160);
    width: 100%;
    height: 100%;
    padding-left: 10px;
    color: rgb(102, 102, 102);
    font-style: italic;
}
#buscador:focus{
    border: 1px rgb(0, 0, 0) solid;
    outline: 0;
}
.buscador-boton{
    background-color: rgb(156, 156, 156);
    border: 0;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
}
.fa-search{
    color: #ffffff;
    position: relative;
    font-size: 1.2em;
}
/*Clase para crear la animación de aparecer buscador en JavaScript*/
.mover-buscador{
    transform: translateY(60px);
}
/*Media Querys*/
@media screen and (max-width: 1000px) {
    .header-buscador form{
        width: 40%;
    }
}
@media screen and (max-width: 500px) {
    .header-buscador form{
        width: 70%;
    }
}
/*FIN DE LOS ESTILOS DEL HEADER*/ /*FIN DE LOS ESTILOS DEL HEADER*/ /*FIN DE LOS ESTILOS DEL HEADER*/ 
/*FIN DE LOS ESTILOS DEL HEADER*/ /*FIN DE LOS ESTILOS DEL HEADER*/ /*FIN DE LOS ESTILOS DEL HEADER*/ 


/*ESTILOS DEL NAV*/
#nav-desplegable {
    position: fixed;
    left: -400px;
    transition: 0.3s ease;
    background-color: #fff;
    width: 20%;
    height: 100%;
    border-right: 1px solid rgb(207, 207, 207);
}
#nav-desplegable.mostrar-nav {
    left: 0px;
}








/*ESTILOS DEL MAIN*/ /*ESTILOS DEL MAIN*/ /*ESTILOS DEL MAIN*/ /*ESTILOS DEL MAIN*/ /*ESTILOS DEL MAIN*/
/*ESTILOS DEL MAIN*/ /*ESTILOS DEL MAIN*/ /*ESTILOS DEL MAIN*/ /*ESTILOS DEL MAIN*/ /*ESTILOS DEL MAIN*/
main {
    height: 1000px;
}




/*ESTILOS DEL FOOTER*/ /*ESTILOS DEL FOOTER*/ /*ESTILOS DEL FOOTER*/ /*ESTILOS DEL FOOTER*/ 
/*ESTILOS DEL FOOTER*/ /*ESTILOS DEL FOOTER*/ /*ESTILOS DEL FOOTER*/ /*ESTILOS DEL FOOTER*/ 
.footer-redes-sociales {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    font-size: 1.2em;
    margin: 40px 0;
}
/*Parte del Copyrigth del footer*/
.footer-copyright {
    background-color: #181818;
    color: #e9e9e9;
    font-family: 'Poppins';
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}
.footer-copyright-movimiento {
    display: flex;
    user-select: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer-copyright-movimiento div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-copyright-movimiento p {
    margin-right: 200px;
}
.footer-copyright-movimiento p span {
    font-weight: lighter; 
}