@media screen and (max-width: 900px) {
    .seccion-producto-compra {
        display: flex;
        flex-direction: column !important;
    }
    .div-contenido-compra {
        padding: 0 4.5%;
    }
    .agregar-al-carrito {
        width: 100%;
    }
    .agregar-a-favoritos {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    /* NAV */
    #nav-desplegable {
        width: 100%;
        align-items: center;
        text-align: center;
        border-right: 0;
    }
    .header-buscador form{
        width: 90%;
    }

    /* MAIN */
    .contenedor-productos {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)) !important;
    }
    .carrusel .sugerencias-productos {
        grid-template-columns: repeat(2, minmax(80px, 1fr)) !important;
        grid-template-rows: repeat(2, 1fr);
    }
    .sugerencias .sugerencias-productos {
        grid-template-columns: repeat(2, minmax(80px, 1fr)) !important;
        grid-template-rows: repeat(2, 1fr);
    }
    .imagenes-video-producto {
        padding: 0% 3.5%;
    }
    .inicio-imagenes-producto {
        height: 28vw;
    }
    .inicio-video-producto {
        height: 30vw;
    }
    .carrusel {
        padding: 0% 3.5%;
    }
    main > h2 {
        font-size: 1.6em;
    }
    .carrusel > h4 {
        font-size: 1.5em;
        margin-bottom: 12px;
    }
    /* CONTENIDO DE LOS PRODUCTOS MOSTRADOS */
    .producto i.fa-heart {
        font-size: 1.4em;
        top: 15px;
        left: 15px;
    }
    .producto p, .sugerencias .sugerencias-productos p {
        font-size: .7em !important;
    }
    .producto h4.nombre-producto {
        font-size: 0.75em;
    }

    /* COMPRA PRODUCTO */
    .main-compra {
        padding: 0 !important;
    }
    .seccion-producto-compra {
        padding: 40px 1% 0% 1% !important;
    }

    /* BUSCADOR */
    .busqueda-realizada {
        text-align: center !important;
        font-size: 1.4em;
    }

    /* FOOTER */
    .footer-secciones {
        flex-direction: column;
        height: auto;
        padding: 25px 0;
        gap: 30px;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    /* HEADER */
    .header-logo img {
        width: 110px;
    }
    .dark-mode .header-logo img {
        width: 110px;
    }

    /* MAIN */
    .sugerencias h4:first-child  {
        font-size: 1.7em;
    }
    
    .seccion-producto-compra {
        gap: 20px !important;
    }
    .carrusel .item-sugerencia a {
        font-size: .7em;
    }
    main > h2 {
        font-size: 1.4em;
    }
    .inicio-imagenes-producto {
        flex-direction: column;
        height: 80vw;
    }
    .inicio-video-producto {
        height: 35vw;
    }
    .imagen-rebajas {
        display: none;
    }
    .imagen-rebajas-lite {
        display: block;
    }
    .inicio-imagenes-producto > a p {
        font-size: 6vw;
    }
    .ver-todo {
        font-size: 2vw;
    }
    .imagenes-video-producto {
        gap: 3.5vw;
    }
    /* PÃGINAS DE PRODUCTOS */ 
    .contenedor-productos {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)) !important;
    }
    .producto h4.nombre-producto {
        font-size: 0.7em;
    }

    /* BUSCADOR */
    .no-hay-resultados {
        width: 90% !important;
        height: auto !important;
    }
    .busqueda-realizada {
        font-size: 1.2em;
    }

    /* FOOTER */
    .footer-suscripcion > div {
        width: 80%;
        text-align: center;
        font-size: 0.9em;
    }
    .footer-suscripcion p {
        font-size: 1em;
        margin-bottom: 10px;
    }
    .footer-redes-sociales {
        font-size: 1em;
        margin-top: 45px;
        margin-bottom: 20px;
        gap: 30px;
    }
}

@media screen and (max-width: 500px) {
    .contenedor-productos {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)) !important;
    }

    /* PRODUCTOS MOSTRADOS */ 
    .producto i.fa-heart {
        font-size: 1.3em;
        top: 10px;
        left: 10px;
    }
    .sugerencias h4:first-child  {
        font-size: 1.4em;
    }
    .carrusel > h4 {
        font-size: 1.4em;
        margin-bottom: 8px;
    }
    .carrusel .sugerencias-productos {
        gap: 10px;
    }
    .carrusel .item-sugerencia a {
        color: #272727;
        text-decoration: none;
        text-transform: uppercase;
        font-size: .6em;
        margin: 0;
    }
    .carrusel .item-sugerencia a p {
        position: relative;
        bottom: 6px;
    }
    main > h2 {
        font-size: 1.3em;
    }
    .carrusel > h4 {
        font-size: 1.2em;
    }
    .carrusel h4 {
        margin-bottom: 5px;
    }

    /* FOOTER */ 
    .footer-suscripcion > div {
        margin: 40px 0;
    }
}

@media screen and (max-width: 450px) {
    .nombre-producto {
        font-size: 0.9em;
    }
    .footer-suscripcion p {
        font-size: .85em;
    }
}
@media screen and (max-width: 400px) {
    .nombre-producto {
        font-size: 0.85em;
    }
}
@media screen and (max-width: 370px) {
    .nombre-producto {
        font-size: 0.75em;
    }
}
@media screen and (max-width: 357px) {
    .nombre-producto {
        font-size: 1em;
    }
}