@media screen and (max-width: 900px) {
    .seccion-producto-compra {
        display: flex;
        flex-direction: column !important;
    }
    .div-contenido-compra {
        padding: 0 4.5%;
    }
    .agregar-al-carrito {
        width: 100%;
    }
    .agregar-a-favoritos {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    #nav-desplegable {
        width: 100%;
        align-items: center;
        text-align: center;
    }
    .contenedor-productos {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)) !important;
    }
    .carrusel .item-sugerencia a {
        font-size: .7em;
    }
    main > h2 {
        font-size: 1.6em;
    }
}

@media screen and (max-width: 600px) {
    .footer-secciones {
        flex-direction: column;
        height: auto;
        padding: 25px 0;
        gap: 30px;
        text-align: center;
    }
    .footer-suscripcion > div {
        width: 80%;
        text-align: center;
        font-size: 0.9em;
    }
    .sugerencias h4:first-child  {
        font-size: 1.7em;
    }
    .contenedor-productos {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)) !important;
    }
    .seccion-producto-compra {
        gap: 20px !important;
    }
    .carrusel .item-sugerencia a {
        font-size: .5em;
    }
    main > h2 {
        font-size: 1.4em;
    }
}

@media screen and (max-width: 500px) {
    .contenedor-productos {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)) !important;
    }
    .sugerencias h4:first-child  {
        font-size: 1.4em;
    }
    .carrusel h4 {
        font-size: 1.4em;
        margin-bottom: 8px;
    }
    .carrusel .sugerencias-productos {
        gap: 8px;
    }
    .carrusel .item-sugerencia a {
        color: #272727;
        text-decoration: none;
        text-transform: uppercase;
        font-size: .4em;
        margin: 0;
    }
    .carrusel .item-sugerencia a p {
        position: relative;
        bottom: 6px;
    }
    main > h2 {
        font-size: 1.3em;
    }
}

@media screen and (max-width: 450px) {
    .nombre-producto {
        font-size: 0.9em;
    }
}
@media screen and (max-width: 400px) {
    .nombre-producto {
        font-size: 0.85em;
    }
}
@media screen and (max-width: 370px) {
    .nombre-producto {
        font-size: 0.75em;
    }
}
@media screen and (max-width: 357px) {
    .nombre-producto {
        font-size: 1em;
    }
}
