@media screen and (max-width: 900px) {
    .seccion-producto-compra {
        display: flex;
        flex-direction: column !important;
    }
}

@media screen and (max-width: 800px) {
    #nav-desplegable {
        width: 100%;
        align-items: center;
        text-align: center;
    }
}