/* SUGERENCIAS DE PRODUCTOS */  /* SUGERENCIAS DE PRODUCTOS */  /* SUGERENCIAS DE PRODUCTOS */  /* SUGERENCIAS DE PRODUCTOS */
/* SUGERENCIAS DE PRODUCTOS */  /* SUGERENCIAS DE PRODUCTOS */  /* SUGERENCIAS DE PRODUCTOS */  /* SUGERENCIAS DE PRODUCTOS */
/* SUGERENCIAS DE PRODUCTOS */  /* SUGERENCIAS DE PRODUCTOS */  /* SUGERENCIAS DE PRODUCTOS */  /* SUGERENCIAS DE PRODUCTOS */
.sugerencias {
    width: 100%;
    padding: 5vw 4% 1vw 4%;
    overflow: hidden;
    box-sizing: border-box;
}
.sugerencias h4:first-child {
    margin-bottom: 20px;
}
.sugerencias-productos {
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
}
.sugerencias .item-sugerencia {
    width: 100%;
    height: auto;
    margin: 0;
}
.main-compra .sugerencias > h4  {
    color: #272727;
    text-transform: uppercase;
    font-size: 2em;
}
.item-sugerencia img {
    width: 100%;
    aspect-ratio: 1/1;
    height: auto;
    display: block;
    margin-bottom: 10px;
}
.item-sugerencia p, .item-sugerencia h4 {
    text-align: center;
}
.item-sugerencia h4  {
    font-size: 1em;   
}